odoo-addon-stock_release_channel_process_end_time @ git+https://github.com/OCA/wms.git@refs/pull/550/head#subdirectory=setup/stock_release_channel_process_end_time
odoo-addon-shipment_advice_planner @ git+https://github.com/OCA/stock-logistics-transport.git@refs/pull/88/head#subdirectory=setup/shipment_advice_planner
odoo-addon-stock_release_channel_shipment_lead_time @ git+https://github.com/OCA/wms.git@refs/pull/750/head#subdirectory=setup/stock_release_channel_shipment_lead_time
odoo-addon-stock_partner_delivery_window @ git+https://github.com/OCA/stock-logistics-workflow.git@refs/pull/1378/head#subdirectory=setup/stock_partner_delivery_window
