freezegun
odoo_test_helper
odoo14-addon-stock_picking_type_shipping_policy @ git+https://github.com/phuctranerp/wms.git@14.0-mig-stock_picking_type_shipping_policy#subdirectory=setup/stock_picking_type_shipping_policy
odoo14-addon-sale-partner-delivery-window @ git+https://github.com/dzungtran89/sale-workflow@14.0-mig-sale_partner_delivery_window#subdirectory=setup/sale_partner_delivery_window
odoo14-addon-sale-cutoff-time-delivery @ git+https://github.com/trobz/sale-workflow@14.0-mig-sale_cutoff_time_delivery#subdirectory=setup/sale_cutoff_time_delivery
